<h1>Bookmark manager</h1>
<form action ='/bookmarks/new' method ='get'>
<input type ='submit' value='submit'>
</form>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <a href ="<%= bookmark.url %>">
        <%= bookmark.title %>
      </a>
    </li>
  <% end %>
</ul>